{
  "extends": [
    "prettier",
    "prettier/react",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["serviceWorker.js"],
  "rules": {
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/camelcase": 0
  }
}
