.radioButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;

  &__button {
    display: grid;
    place-items: center;
    border: 1px solid #777;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 10px;

    & > div {
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #222;
    }

    &--checked {
      & > div {
        display: block;
      }
    }
  }
}
